@import "style.scss";

//-----------------header---------------------------------------------------------------------------------
a {
    transition: all 0.8s ease 0s;
}
a:hover {
    color:rgba(243, 243, 243, 0.778);
}



//------------------------------------------------------------------------------
.page {
    display: flex;
    font-size: 0;
}
.main__content {
    flex: 1 1 auto;
}

//----------------------------------------------------------------

.drop-us {

    &__container {
        position: static;
        padding: 100px 0px 0px 0px;
    }
}