/*-------------------ibg-----------------------------------------------------------------------*/

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    & img {
        display: none;
    }
}
//Шрифты===================================================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

// Шрифт по умолчанию ====================================================================
$fontfamily:"Montserrat";

//Обнуление=========================================================================================
@import "null.scss";

body {
    background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
}
//Оболочка==================================================================================
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
body._lock {
    overflow: hidden;
}
//Основная сетка==================================================================================
.__container {
    max-width: 1440px;
    padding: 0px 64px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .__container {
        padding: 0px 56px;
    }
}
@media (max-width: 768px) {
    .__container {
        padding: 0px 48px;
    }
}
@media (max-width: 600px) {
    .__container {
        padding: 0px 24px;
    }
}
//Подключение файлов, стилей, страниц и элементов==============================================
@import "header.scss";
@import "footer.scss";

//Основной блок====================================================================================
a:hover {
    color:#141414;
    opacity: 0.8;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-size: 0;
    flex-direction: column;
}
.main-screen {
    background-color: #fff;
    flex: 1 0 100%;
    position: relative;
    min-width: 0;
    //max-height: 580px;
    /*&__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @media (max-width: 612px) {
            img {
                min-height: 450px;
            }
        }
    }*/
    &__contact_social {
        position: absolute;
        z-index: 2;
        top: 92%;
        left: 4.30%;
        & .social-links {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            padding: 0px 8px;
            &:first-child {
                padding: 0px 8px 0px 0px;
            }
            &:hover {
                color:#afabab;
            }
        }
    }
    &__contact_phone-mail {
        position: absolute;
        z-index: 2;
        top: 92%;
        left: 30.30%;
        display: flex;
        font-size: 0;
        & .social-phone,
        & .social-email {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: #FFFFFF;
            &:hover {
                color:#0F0F0F;
                opacity: 0.7;
            }
        }
        & .social-phone {
            padding-right: 51px;
        }
    }
    @media (max-width: 1024px) {
        &__contact_phone-mail {
            left: 45.30%;
        }
    }
    @media (max-width: 612px) {
        &__contact_social {
            display: none;
        }
        &__contact_phone-mail {
            flex-direction: column;
            top: 88.30%;
            & .social-phone {
                padding-bottom: 5px;
            }
        }
    }
    &__title {
        position: absolute;
        max-width: 500px;
        top: 35%;
        left: 18%;
        z-index: 2;
        font-weight: 700;
        font-size: 56px;
        line-height: 68px;
        color: #FFFFFF;  
    }
    @media (max-width: 1024px) {
        &__title {
            font-size: 48px;
        }
    }
    @media (max-width: 768px) {
        &__title {
            max-width: 270px;
            font-size: 44px;
            line-height: 54px;        
        }
    }
    @media (max-width: 612px) {
        &__title {
            font-size: 40px;
            line-height: 39px;
            left: 5%;
        }
    }
    &__discover {
        position: absolute;
        top: 60%;
        left: 20%;
        z-index: 2;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
        &-span {
            display: block;
            position: absolute;
            top: 60.75%;
            left: 29%;
            width: 56px;
            height: 2px;
            z-index: 2;
            span {
                top: 0px;
                left: 0px;
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #fff;
                opacity: 0.5;
            }
        }
        @media (max-width: 1199px) {
            &-span {
                left: 31%;
            }
        }
        @media (max-width: 948px) {
            &-span {
                left: 34%;
                opacity: 0.9;
            }
        }
    }
    @media (max-width: 612px) {
        &__discover {
            top: 67%;
            left: 6%;
            &-span {
                top: 68%;
                left: 31%;
            }
        }
    }
    &__next-project {
        position: absolute;
        z-index: 2;
        top: 63%;
        right: -85px;
        transform: rotate(-90deg);
        & .next-project_s {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            padding: 0px 0px 8px 0px;
            color: #fff;
        }
        & .next-project_b {
            max-width: 350px;
            font-weight: 700;
            font-size: 48px;
            line-height: 47px;
            letter-spacing: 0.04em;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 1px #fff;
        }
        @media (max-width: 1024px) {
            & .next-project_b {
                font-size: 32px;
                line-height: 31px;
            }
        }
    }
    @media (max-width: 768px) {
        &__next-project {
            right: -125px;
            & .next-project_b {
                max-width: 450px;
            }
        }
    }
    @media (max-width: 612px) {
        &__next-project {
            top: 71%;
            right: -70px;
            & .next-project_s {
                display: none;
            }
            & .next-project_b {
                max-width: 450px;
                font-size: 18px;
                line-height: 18px;
                -webkit-text-fill-color: #fff;
                -webkit-text-stroke: 0px;
            }
        }
    }
    &__select_container {
        position: absolute;
        z-index: 2;
        top: 91.3%;
        left: 18%;
    }
    &__select_button {
        position: relative;
        width: 117px;
        height: 22px;
        text-align: left;
        border-radius: 8.70px;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding: 2px 0px 0px 28px;
        &:after {
            content: "";
            position: absolute;
            top: 60%;
            right: 15px;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-width: 10,4px 6px 0px 6px;
            border-color: #fff transparent transparent transparent;
            border-style: solid;
            pointer-events: none;
        }
        &:focus, &--active {
            box-shadow: 0px 0px 0px 2px rgba(176, 198, 225, 0.6);
        }
    }
	&__list {
        visibility: hidden;
        position: absolute;
        top: -82px;
        left: 0;
        width: 117px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 8px rgba(176, 198, 225, 0.6);
        border-radius: 8.70px;
    }
    &__list--visible {
        visibility: visible;
    }
	&__list-item {
        font-weight: 600;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        padding: 3px 0px 3px 28px;
        cursor: pointer;
        &:first-child {
            border-radius: 8.70px 8.70px 0px 0px;
        }
        &:last-child {
            border-radius: 0px 0px 8.70px 8.70px;
        }
        &:hover {
            background-color: rgba(255, 255, 255, 0.26);
        }
	}
    &__select-span {
        display: block;
        position: absolute;
        top: 6px;
        left: 11px;
        z-index: 3;
        width: 8px;
        height: 10px;
        background-image: url("../../img/main screen/icon.svg");
        background-repeat: no-repeat;
    }
    @media (max-width: 1024px) {
        &__select_button {
            background-color: transparent;
            border-width: 1px;
            border-style: solid;
            border-color: #C4C4C4;
        }
        &__select_container {
            left: 25%;
        }
    }
    @media (max-width: 612px) {
        &__select_container {
            left: 4%;
        }
    }
}

@media (min-width: 1881px) {
    .main-screen {
        max-height: 1000px;
    }      
}
@media (max-width: 1880px) {
    .main-screen {
        max-height: 880px;
    }      
}
@media (max-width: 880px) {
    .main-screen {
        max-height: 720px;
    }      
}
@media (max-width: 612px) {
    .main-screen {
        max-height: 550px;
    }      
}

//слайдер============================================================================

.image-slider {
    position: relative;
    &__image {
     //   width: 100%;
    }
    &__image img {
        width: 100%;
        //min-height: 744px;
    }
    @media (min-width: 1881px) {
        &__image img {
            height: 1000px;
        }
    }
    @media (max-width: 1880px) {
        &__image img {
            height: 880px;
        }
    }
    @media (max-width: 880px) {
        &__image img {
            height: 720px;
        }
    }
    @media (max-width: 612px) {
        &__image img {
            height: 500px;
        }
    }
    & .swiper-slide {
        width: auto;
    }
    & .swiper-button-prev {
        position: absolute;
        left: 65%;
        top: 61%;
    }
    & .swiper-button-next {
        position: absolute;
        right: 16%;
        top: 61%;
    }
    @media (max-width: 612px) {
        & .swiper-button-prev {
            left: 16.5%;
            top: 31%;
        }
        & .swiper-button-next {
            right: 40%;
            top: 31%;
        }
    }
    & .swiper-button-prev::after,
    & .swiper-button-next::after {
        font-size: 8px;
        color: #fff;
    }
}
.swiper-span {
        display: block;
        position: absolute;
        left: 68%;
        top: 61%;
        width: 12.25%;
        height: 2px;
        z-index: 5;
        span {
            top: 0px;
            left: 0px;
            position: absolute;
            width: 50%;
            height: 1px;
            background-color: #fff;
            &:first-child {
                left: 0px;
                height: 2px;
            }
            &:last-child {
                left: 54%;
                opacity: 0.32;
            }
        }
}
@media (max-width: 612px) {
    .swiper-span {
        left: 23%;
        top: 31%;
        width: 28.25%;
        span {
            &:first-child {
                height: 1px;
            }
        }
    }
}




//===============company philosophy================================================================


.company-philosophy {
    margin: 0px;
    background-color: #FFF;
    padding: 80px 0px 140px 0px;
    &__1-container {
        display: flex;
        font-size: 0;
        & .text1-block {
            padding: 80px 14.9% 0px 13.68%;
            h1 {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #080808;
                padding: 0px 0px 28px 0px;
            }
            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 24px;
                color: #080808;
                opacity: 0.7;
                padding: 0px 0px 24px 0px;
            }
            a {
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: #080808;
                padding: 40px 0px 0px 0px;
                &:hover {
                    color:#0F0F0F;
                    opacity: 0.7;
                }
            }
        }
        & .image1-block {
            & img {
                width: 349px;
            }
        }
        @media (max-width: 1300px) {
            & .text1-block {
                padding: 56px 68px 0px 119px;
                h1 {
                    font-size: 32px;
                    line-height: 39px;
                }
            }
        } 
        @media (max-width: 890px) {
            & .text1-block {
                padding: 56px 48px 0px 40px;
                h1 {
                    font-size: 32px;
                    line-height: 39px;
                }
            }
        } 
        @media (max-width: 816px) {
            & .text1-block {
                padding: 0px 94px 0px 94px;
                h1 {
                    font-size: 32px;
                    line-height: 39px;
                }
            }
            & .image1-block {
                display: none;
            }
        } 
        @media (max-width: 612px) {
            & .text1-block {
                padding: 56px 48px 0px 40px;
                margin-top: -138px;
                h1 {
                    font-size: 26px;
                    line-height: 32px;
                }
            }
        } 
    }

    &__2-container {
        display: flex;
        font-size: 0;
        justify-content: center;
        align-items: center;
        margin: 78px 0px 0px 0px;
        & .image2-block {
            &_parent {
                position: relative;
            }
            &_child {
                position: absolute;
                top: -125px;
                left: 236px;
            }
        }
        & .text2-block {
            max-width: 380px;
            margin: 20px 0px 0px 23%;
            p {
                position: relative;
                font-weight: 300;
                font-size: 20px;
                line-height: 170.66%;
                color: #080808;
                opacity: 0.7;
                &:before {
                    content: '“';
                    position: absolute;
                    top: 0px;
                    left: -32px;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #080808;
                }
            }
        }
    }
    @media (max-width: 1300px) {
        & .text2-block {
            p {
                font-size: 16px;
                &:before {
                    left: -32px;
                    font-size: 26px;
                    line-height: 31px;
                }
            }
        }
        & .image2-block {
            margin: 70px 0px 0px 0px;
            &_parent {
                & img.image2 {
                    width: 190px;
                }
            }
            &_child {
                top: -94px;
                left: 154px;
                img {
                    width: 190px;
                }
            }
        }
        & .text2-block {
            max-width: 320px;
            margin: 40px 0px 0px 33%;
        }
    }
    @media (max-width: 816px) {
    margin: 0px 0px 80px 0px;
        &__2-container {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 78px 0px 0px 124px;
            & .image2-block {
                margin: 130px 0px 0px 0px;
                &_parent {
                    & img.image2 {
                        width: 153px;
                    }
                }
                &_child {
                    top: -149px;
                    left: 137px;
                    img {
                        width: 383px;
                    }
                }
            }
        }
    }  
    @media (max-width: 612px) {
        &__2-container {
            margin: 35px 30px 0px 40px;
            & .image2-block {
                margin: 100px 40px 0px 0px;
                &_parent {
                    & img.image2 {
                        width: 131px;
                    }
                }
                &_child {
                    top: -118px;
                    left: 63px;
                    img {
                        width: 264px;
                    }
                }
            }
            & .text2-block {
                margin: 40px 40px 0px 40px;
                min-width: 90%;
            }
        }
    }  
    @media (max-width: 391px) {
        &__2-container {
            & .image2-block {
                &_child {
                    top: -98px;
                    img {
                        width: 214px;
                    }
                }
            }
        }
    } 
}


//==================== our projects ===================================
.title-styles {
    text-align: center;
    padding: 140px 0px 140px 0px;
    h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: #FFF;
        padding: 0px 0px 34px 0px;
    }
    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #828282;
        max-width: 450px;
        margin: 0 auto;
        padding: 0px 20px;
    }
}
@media (max-width: 816px) {
    .title-styles {
        padding: 24px 0px 104px 0px;
    }
}
@media (max-width: 768px) {
    .title-styles {
        h1 {
            font-size: 32px;
            line-height: 39px;
            color: #FAFAFA;
            padding: 0px 0px 24px 0px;
        }
    }
}
.our-projects {
    &__container {
       // background: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
    }

    &__main {
        padding: 0px 3% 0px 3%;
        max-width: 1300px;
        margin: 0 auto;
    }
    &__row1 {
        display: flex;
        font-size: 0;
        &_column {
            flex: 0 1 50%;
            padding: 0px 0.7% 0.7% 0px;
            &_b {
                flex: 0 1 100%;
            }
            &_last {
                padding: 7% 0px 0px 15%;
                margin: 0px 0.7% 0.7% 0px;
                background-color: #fff;
                span {
                    padding: 0px 0px 24px 0px;
                    display: block;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 28px;
                    color: #080808;
                }
            }
            @media (max-width: 1024px) {
                &_last {
                    text-align: center;
                    padding: 5% 0px 0px 0px;
                    span {
                        font-size: 20px;
                        line-height: 25px;
                    }
                }
            }
            @media (max-width: 768px) {
                &_last {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &__main {
            max-width: 696px;
        }
        &__row1 {
            flex-direction: column;
            align-items: center;
            &_column {
                flex: 0 1 100%;
                padding: 0px 0.7% 0.7% 0px;
            }
        } 
    }
}
.item {
    display: block;

    &__image {   
        img {
            max-width: 100%;
        }  
        &_last {
            img {
                width: 200px;
            }
            @media (max-width: 1024px) {
                img {
                    width: 160px;
                }
            }
        }
        @media (max-width: 768px) {
            &_last {
                img {
                    padding: 0px 0px 46px 0px;
                }
                span {
                    padding: 70px 0px 24px 0px;
                    margin: 0px 20px;
                }
            }
        }
    }
    &:hover {
        .item__hover {
            visibility: visible;
        }
    }
    &__hover {
        visibility: hidden;
        &_header {
            display: flex;
            position: absolute;
            top: 32px;
            left: 32px;
            font-size: 0;
            li {
                font-weight: 500;
                font-size: 11px;
                line-height: 170%;
                color: #fff;
                padding: 0px 18px 0px 0px;
            }
        }
        &_name {
            display: block;
            font-weight: 700;
            font-size: 20px;
            line-height: 126%;
            color: #FAFAFA;
            position: absolute;
            bottom: 100px;
            //top: 460px;
            left: 32px;
            min-width: 270px;
        }
        &_discover {
            p {
                min-width: 200px;
                position: absolute;
                top: 490px;
                left: 32px;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: #fff;
            }
            &_b {
                p {
                    left: 632px;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        &__hover {
            visibility: visible;
            &_name {
                top: 300px;
            }
            &_discover {
                p {
                    top: 330px;
                }
                &_b {
                    p {
                        left: 402px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .item3 {
        display: none;
    }
    .item {
        &__hover {
            &_name {
                top: 420px;
            }
            &_discover {
                p {
                    top: 450px;
                }
            }
        }
    }
}
@media (max-width: 510px) {
    .item {
        &__hover {
            &_name {
                top: 320px;
            }
            &_discover {
                p {
                    top: 350px;
                }
            }
        }
    }
}
@media (max-width: 403px) {
    .item {
        &__hover {
            &_name {
                top: 240px;
            }
            &_discover {
                p {
                    top: 270px;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    .our-projects {
        &__footer {
            height: 868px;
            margin: 0 auto;
            max-width: 1500px;
            position: relative;
            padding-left: 100px;
            padding-right: 100px;
            h1 {
                max-width: 424px;
            }
            img {
                margin: -150px 0px 0px 0px;
            }
            p {
                position: absolute;
                top: 550px;
                right: 100px;
                text-align: left;
            }
            a {
                position: absolute;
                top: 670px;
                right: 340px;
            }
        }
    }
}
a.button-make-request {
    width: 193px;
    height: 42px;
    background-color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #080808;
    padding: 14px 38px;
}
@media (max-width: 1024px) {
    .our-projects {
        &__footer {
            h1 {
                text-align: center;
                margin: 0 auto;
                max-width: 404px;
            }
            img {
                display: none;
            }
            p {
                max-width: 500px;
                padding: 0px 30px 80px 30px;
            }
            a {
                width: 193px;
                height: 42px;
                background-color: #fff;
                font-weight: 600;
                font-size: 11px;
                line-height: 13px;
                text-align: center;
                letter-spacing: 0.06em;
                color: #080808;
                padding: 14px 38px;
            }
        }
    }
}
@media (max-width: 816px) {
    .our-projects {
        &__footer {
            padding: 104px 0px;
        }
    }
}
@media (max-width: 456px) {
    .our-projects {
        &__footer {
            h1, p {
                text-align: left;
            }
            h1 {
                padding: 0px 30px 24px 30px;
                margin: 0px;
            }
        }
    }
}


//-----------------------------------random photos-----------------------------------------------

.random-photos {
    &__container {
        position: relative;
        width: 100%;
        height: 812px;
        background: #fff;
        padding: 345px 0px;
        h2 {
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            color: #080808;
            text-align: center;
            padding: 0px 0px 18px 0px;
        }
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #080808;
            opacity: 0.6;
            max-width: 390px;
            margin: 0 auto;
        }
    }
    &__image {
        position: absolute;
        &_1 {
            top: 0px;
            right: 18.68%;
        }
        &_2 {
            top: 12px;
            right: 4.23%;
        }
        &_3 {
            bottom: 54px;
            right: 0px;
        }
        &_4 {
            bottom: 0px;
            right: 27.9%;
        }
        &_5 {
            bottom: 11px;
            left: 15.8%;
        }
        &_6 {
            bottom: 0px;
            left: 0px;
        }
        &_7 {
            top: 134px;
            left: 0px;
        }
        &_8 {
            top: 12px;
            left: 6.5%;
        }
    }
}
@media (max-width: 1024px) {
    .random-photos {
        &__container {
            h2 {
                font-size: 48px;
                line-height: 59px;
            }
        }
        &__image {
            &_1 {
                width: 390px;
            }
            &_2 {
                width: 320px;
            }
            &_3 {
                width: 280px;
                right: 0px;
            }
            &_4 {
                width: 270px;
            }
            &_5 {
                width: 330px;
            }
            &_6 {
                display: none;
            }
            &_7 {
                width: 340px;
                left: -170px;
            }
            &_8 {
                width: 320px;
                left: -80px;
            }
        }
    }
}
@media (max-width: 768px) {
    .random-photos {
        &__container {
            h2 {
                font-size: 44px;
                line-height: 54px;
            }
        }
        &__image {
            &_1 {
                width: 360px;
                right: 50px;
            }
            &_2 {
                width: 300px;
                right: 0px;
            }
            &_3 {
                width: 200px;
            }
            &_4 {
                right: 10%;
            }
            &_5 {
                left: -30px;
                bottom: -30px;
            }
            &_7 {
                top: 150px;
                height: 240px;
                left: -170px;
            }
            &_8 {
                width: 290px;
                left: -10px;
                top: 50px;
            }
        }
    }
}
@media (max-width: 580px) {
    .random-photos {
        &__container {
            height: 675px;
            padding: 290px 0px;
            h2 {
                font-size: 32px;
                line-height: 39px;
            }
            p {
                width: 288px;
            }
        }
        &__image {
            &_1 {
                width: 250px;
                right: 0px;
            }
            &_2 {
                display: none;
            }
            &_3 {
                width: 150px;
                right: 0px;
            }
            &_4 {
                width: 200px;
                right: 10%;
            }
            &_5 {
                width: 200px;
                bottom: 40px;
            }
            &_7 {
                top: 100px;
                height: 200px;
                left: -200px;
            }
            &_8 {
                width: 220px;
            }
        }
    }
}

//---------------------------drop us a line---------------------------------------------------------


.drop-us {

    &__container {
        position: relative;
        height: 669px;
    }

    &__bg-image {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        //padding: 0px 0px 46.4% 0px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        padding: 0px 194px 0px 194px;
        position: relative;
    }

    &__title {
        padding: 119px 0px 0px 0px;
        text-align: left;
        h1 {
            padding: 0px 0px 24px 0px;
        }
        p {
            margin: 0;
            padding: 0px 0px 72px 0px;
        }
    }

    &__city-address {
        display: flex;
        font-size: 0;
        max-width: 666px;

        &_column {
            flex: 1 1 33.33%;
            h2 {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FAFAFA;
                padding: 0px 0px 24px 0px;
            }
            p {
                font-weight: 300;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.06em;
                color: #828282;
                padding: 0px 0px 5px 0px;
            }
        }
    }

    &__mail-social {
        position: absolute;
        top: 309px;
        right: 194px;
        a, & .social-links a {
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            color: #828282;
            &:hover {
                color:#fffffffe;
            }
        }
        a {
            display: block;
            padding: 0px 0px 23px 0px;
        }
        & .social-links {
            display: flex;
            font-size: 0;
            a {
                display: block;
                padding: 0px 16px 0px 0px;
            }
        }
    }

    &__button {
        margin: 72px 0px 130px 0px;
    }
}

@media (max-width: 1200px) {
    .drop-us {
        &__container {
            height: 628px;

        }
        &__content {
            padding: 0px 100px 0px 100px;
        }
        &__title {
            padding: 104px 0px 0px 0px;
            p {
                padding: 0px 0px 64px 0px;
            }
        }
    
        &__city-address {
            max-width: 479px;
        }
    
        &__mail-social {
            top: 294px;
            right: 90px;
        }
    
        &__button {
            margin: 64px 0px 120px 0px;
        }
    }
}
@media (max-width: 768px) {
    .drop-us {
        &__container {
            height: 574px;
        }
        &__content {
            padding: 0px 85px;
        }
        &__title {
            padding: 68px 0px 0px 0px;
            p {
                padding: 0px 0px 58px 0px;
            }
        }
    
        &__city-address {
        }
    
        &__mail-social {
            top: 380px;
            left: 370px;
            a {
                padding: 0px 0px 13px 0px;
            }
        }
    
        &__button {
            margin: 56px 0px 110px 0px;
        }
    }
}
@media (max-width: 600px) {
    .drop-us {
        &__container {
            height: 727px;
        }
        &__content {
            padding: 0px 24px;
        }
        &__title {
            padding: 56px 0px 0px 0px;
            p {
                padding: 0px 0px 48px 0px;
            }
        }
    
        &__city-address {
            flex-wrap: wrap;
            &_column {
                min-width: 150px;
            }
        }
    
        &__mail-social {
            top: 360px;
            left: 24px;
        }
    
        &__button {
            margin: 128px 0px 210px 0px;
        }
    }
}
@media (max-width: 497px) {
    .drop-us {
        &__city-address {
            &_column {
                &:last-child {
                    padding: 30px 0px 0px 0px;
                }
            }
        }
        &__mail-social {
            top: 490px;
            left: 24px;
        }
        &__button {
            margin: 128px 0px 60px 0px;
        }
    }
}
@media (max-width: 347px) {
    .drop-us {
        &__city-address {
            &_column {
                min-width: 135px;
            }
        }
    }
}









